.mover {
  width: 100px;
  height: 100px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.portal {
  height: 150px;
  width: 5px;
}

.blue {
  background-color: #426cc8;
}

.orange {
  background-color: #c87620;
}
